<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OZONE WEBSITE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
   
    <section class="top-header">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 text-start">
                  <div class="top-text">
                      <ul class="list-inline">
                        <li class="list-inline-item"><a href=""><i class="fa-solid fa-building mx-2"></i>Govt.Lic. :448/060/61</a></li>
                        
                      </ul>
                    </div>
              </div>
              <div class="col-lg-5">
                  <marquee onmouseover="this.stop();" onmouseout="this.start();">Ozone Overseas Services (P.).Ltd(Foreign Employment consultant)</marquee>
              </div>
              <div class="col-lg-4  text-end">
                  <div class="top-social_icon">
                      <ul class="list-inline">
                        <li class="list-inline-item"><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
                  
                      </ul>
                       
                    </div>
                    
              </div>
          </div>
      </div>

   </section>

   
   <nav class="navbar navbar-expand-lg Larger shadow  sticky-top">
      <div class="container my-2">
        <a class="navbar-brand" href="index.html">
  
          <img src="img/ozen.png" alt="">
  
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link home active" aria-current="page" href="index.html">Home</a>
            </li>
           
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle home" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About Us
              </a>
              <ul class="dropdown-menu  ">
                <li><a class="dropdown-item " href="about-company.html">About Company</a></li>
                <li><a class="dropdown-item" href="legal-documents.html">All Legal Documents</a></li>
            
                <li><a class="dropdown-item" href="our-message.html">Our Message</a></li>
                <li><a class="dropdown-item" href="our- commitment.html">Our Commitment</a></li>
            
                <li><a class="dropdown-item" href="our-vision.html">Our Vision</a></li>
                <li><a class="dropdown-item" href="our-mision.html">Our Mission</a></li>
                <li><a class="dropdown-item" href="organization -structure.html">Our Organization Structure</a></li>
               
              </ul>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle home" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Documents
              </a>
              <ul class="dropdown-menu ">
                <li><a class="dropdown-item" href="demand-letter.html">Demand Letter </a></li>
                <li><a class="dropdown-item" href="recruitment-procedure.html">Recruitment Procedure</a></li>
                <li><a class="dropdown-item" href="recruitment- document.html">Recruitment Documents</a></li>
               
              
              </ul>
            </li>
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle home" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Job Seeker
              </a>
              <ul class="dropdown-menu ">
                <li><a class="dropdown-item" href="job-list.html">Job List </a></li>
                <li><a class="dropdown-item" href="job-details.html">Job Details</a></li>
               
              
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link home " aria-current="page" href="job.vacancy.html">Job Vacancy</a>
            </li>
  
               
            
            
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle home" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Pages
              </a>
              <ul class="dropdown-menu ">
              
                <li><a class="dropdown-item" href="our-instructors.html">Our Instructors</a></li>
                <li><a class="dropdown-item" href="gallery.html">Gallery </a></li>
                <li><a class="dropdown-item" href="news.html">News </a></li>
                
               
              
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link home" href="contact.html">Contacs Us</a>
            </li>
            
          </ul> 
          <ul class="list-inline">
            <!--
          <div class="login-page">
            <li class="list-inline-item"><a href="login.html">Login</a></li>
            <li class="list-inline-item"><a href="register.html">Sign Up</a></li>
          </div>-->

            
            
          </ul>
        </div>
      </div>
    </nav>



     <!---- <section class="banner">
   
        <div class="overlay py-5">
            <h4>About Us </h4>
        </div>
      </section>-->

      <section class="banner" >
        <div class="image-cont">
          <img src="img/banner7.jpg" alt="" class="w-full">
        </div> 
      
         <h2>country we serve</h2>
         <div class="overylay">
               
         </div>
      </section>
        




      <section class="event">
        <div class="container">
          <h2 class="text-center"> country we serve(Requirement Documents)
            
           </h2>
          <div class="row mt-5 p-4">
            <div class="col-lg-4 ">
                <div class="event-img ">
                  <img src="img/receive.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-8 ">
  
              <div class="event-content">
                <h4>Required documents from Qatar, Kuwait, Bahrain, Oman & UAE to recruit manpower from Nepal
                    </h4>
                 
                    <div class="procuder-list">

                      <ul>
                       
                        <li><span>Demand Letter</span></li>
                        <li><span>Power of Attorney</span></li>
                        <li><span>Employment Agreement Contract</span></li>
                        <li><span>Agreement between the Company and GOC</span></li>
                        <li><span>Guarantee Letter</span></li>
                       
                      </ul>    
                     </div>
              </div>
             
            </div>
          </div>

          <div class="row mt-5 p-4">
            <div class="col-lg-4 ">
                <div class="event-img ">
                  <img src="img/receive.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-8 ">
  
              <div class="event-content">
                <h4>Required documents from Saudi Arabia to recruit manpower from Nepal
                    </h4>
                 
                    <div class="procuder-list">

                      <ul>
                       
                        <li><span> Visa Slip.</span></li>
                        <li><span>Consulate Authorization.</span></li>
                        <li><span>Demand Letter.</span></li>
                        <li><span> Power of Attonery.</span></li>
                        <li><span> Commercial Registration.</span></li>
                        <li><span> Employment Contract.</span></li>
                        <li><span> Agency Agreement.</span></li>
                        <li><span>Guarantee Letter.</span></li>
                       
                      </ul>    
                     </div>
              </div>
             
            </div>
          </div>

          <div class="row mt-5 p-4">
            <div class="col-lg-4 ">
                <div class="event-img ">
                  <img src="img/receive.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-8 ">
  
              <div class="event-content">
                <h4>Required documents from Malaysia to recruit people from Nepal
                   </h4>
                 
                    <div class="procuder-list">

                      <ul>
                       
                        <li><span> KDN Approval (from Labour Ministry).</span></li>
                        <li><span>Power of Attorney</span></li>
                        <li><span> Translation Letter (from Labour Ministry or Home Ministry).</span></li>
                        <li><span>Demand Letter.</span></li>
                        <li><span> Power of Attonery.</span></li>
                        <li><span> Agency Agreement.</span></li>
                        <li><span>  Employment Contract.</span></li>
                        <li><span> Letter from Royal Nepal Embassy to Labour Department Nepal.</span></li>
                        <li><span>Notary Public ( Notari awam).</span></li>
                        <li><span> ID copy of authorized person of employer company.</span></li>
                       
                      </ul>    
                     </div>
              </div>
             
            </div>
          </div>
          
        
        </div>
  
      </section>





      <footer>

        <div class="container py-5">
          <div class="row py-5">
            <div class="col-lg-4">
              <div class="footer-img text-center">
                <ul class="list-inline"  data-aos="fade-right">
                  <li class="list-inline-item"> Ozone
                    Overseas Services (P.).Ltd<br>
                    (Foreign Employment consultant)
                    </li>
                </ul>
                <ul class="list-inline">
                  <li class="list-inline-item"><img class="mt-3" src="img/ozen.png" alt=""></li>
              
                </ul>
                <li class="list-inline-item mt-3">Corporate Head Office<br>
                  Airport Kathmandu,Nepal</li>
               
              </div>
            </div>
            <div class="col-lg-3">
              <div class="footer-heading">
                <h5> Get In Touch</h5>
              </div>
              <div class="footer-content">
             
                <ul class="list-inline" data-aos="fade-left">
                  <li class="list-inline-item"><a href=""><i class="fa-solid fa-envelope mx-2"></i></a>info@ozoneoverseas.com</li>
                
                </ul>
                <ul class="list-inline" data-aos="fade-left">
                  <li class="list-inline-item"><a href=""><i class="fa-solid fa-phone mx-2"></i></a>977 1 4112794, 01 4112795</li>
                
                </ul>
                <ul class="list-inline" data-aos="fade-left">
                  <li class="list-inline-item"><a href=""><i class="fa-solid fa-clock mx-2"></i></a>07.00 AM - 19.00 PM</li>
                
                </ul>
                <ul class="list-inline" data-aos="fade-left">
                  <li class="list-inline-item"><a href=""><i class="fa-solid fa-fax mx-2"></i></a>977-(0)1-4112796</li>
                
                </ul>
                            
                <div class="country-title mt-3">
                  <a href="asset/Doc2.pdf" target="_blank" >Our Brochure <svg xmlns="http://www.w3.org/2000/svg"
                          width="60px" height="26px" fill="currentColor" class="bi bi-file-earmark-arrow-down"
                          viewBox="0 0 16 16">
                          <path
                              d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z" />
                          <path
                              d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                      </svg></a>
                      
    
              </div>
               
              </div>
            </div>
            <div class="col-lg-2">
              <div class="footer-heading">
                <h5> Quick Links</h5>
              </div>
              <div class="footer-nav">
                <ul data-aos="fade-right">
                  <li>Home</li>
                  <li>About</li>
                  
                  <li>Contact Us</li>
                  
                  <li>Documents</li>
                  <li>Gallery</li>
                  <li>Job List</li>
                  <li>Pages</li>
                  
                </ul>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="footer-heading">
                <h5> Features</h5>
              </div>
              <div class="footer-nav">
                <ul data-aos="fade-left">
                  <li>Business planning</li>
                  <li>Content Strategy</li>
                  
                  <li>Design & Planning</li>
                  <li>Collaborattion</li>
                  <li>Parent Community</li>
                  <li>Manage investment</li>
                  <li>Manage investment</li>
                 
                </ul>
              </div>
            </div>
           
          </div>
        </div>
       </footer>
  
       <section class="last-footer py-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <p>Copyright © 2023. All rights reserved.</p>
         
            </div>
            <div class="col-lg-4 text-end">
             <div class="last-footer_icon">
              <ul class="list-inline tt">
                <li class="list-inline-item"><a href="" class="t1"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a href=""class="f1"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="" class="pi1"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="" class="g1"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href="" class="in1"><i class="fa-brands fa-whatsapp"></i></a></li>
              
              </ul>
             </div>
            </div>
            <div class="col-lg-4">
              <p class="text-end">Designed by Radiant Infotech</p>
            </div>
          </div>
        </div>
       </section>




    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>