<li>
  <a class="dropdown-item " href="{% url 'aboutcompany' %}">About Company</a>
</li>
<li>
  <a class="dropdown-item" href="{% url 'legaldoc' %}">All Legal Documents</a>
</li>
<li>
  <a class="dropdown-item" href="{% url 'message' %}">Our Message</a>
</li>
{% comment %} <li>
    <a class="dropdown-item" href="{% url 'commitment' %}">Our Commitment</a>
</li> {% endcomment %}
<li>
  <a class="dropdown-item" href="{% url 'vision' %}">Our Vision</a>
</li>
<li>
  <a class="dropdown-item" href="{% url 'mision' %}">Our Mission</a>
</li>
<li>
  <a class="dropdown-item" href="{% url 'org_structure' %}">Our Organization Structure</a>
</li>
</ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle home"
     href="#"
     role="button"
     data-bs-toggle="dropdown"
     aria-expanded="false">Documents</a>
  <ul class="dropdown-menu ">
    <li>
      <a class="dropdown-item" href="{% url 'demandletter' %}">Demand Letter</a>
    </li>
    <li>
      <a class="dropdown-item" href="{% url 'recprocedure' %}">Recruitment Procedure</a>
    </li>
    <li>
      <a class="dropdown-item" href="{% url 'recdocument' %}">Recruitment Documents</a>
    </li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle home"
     href="#"
     role="button"
     data-bs-toggle="dropdown"
     aria-expanded="false">Job Seeker</a>
  <ul class="dropdown-menu ">
    <li>
      <a class="dropdown-item" href="{% url 'joblist' %}">Job List</a>
    </li>
    <li>
      <a class="dropdown-item" href="{% url 'jobdetails' %}">Job Details</a>
    </li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link home " aria-current="page" href="{% url 'vacancy' %}">Job Vacancy</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle home"
     href="#"
     role="button"
     data-bs-toggle="dropdown"
     aria-expanded="false">Pages</a>
  <ul class="dropdown-menu ">
    <li>
      <a class="dropdown-item" href="{% url 'instructors' %}">Our Teams</a>
    </li>
    <li>
      <a class="dropdown-item" href="{% url 'gallery' %}">Gallery</a>
    </li>
    {% comment %} <li>
    <a class="dropdown-item" href="{% url 'news' %}">News</a>
    </li> {% endcomment %}
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link home" href="{% url 'contact' %}">Contacs Us</a>
</li>

    <section class="banner">
      <div class="image-cont">
        <img src="img/banner7.jpg" alt="" class="w-full">
      </div>
      <h2>Job Vacancy</h2>
      <div class="overylay"></div>
    </section>

    <section class="vacancy-gallery min-vh-100">
      <div class="container-lg">
        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="col">
            <img src="img/newspaper.jpg" alt="gallery" class="gallery-item">
            <div class="gallery-modal-text text-center">
              <h5>Title:Job Vacancy</h5>
              <h5>2023.8.9</h5>
            </div>
          </div>
          <div class="col">
            <img src="img/project-04.jpg" alt="gallery" class="gallery-item">
            <div class="gallery-modal-text text-center">
              <h5>Title:Job Vacancy</h5>
              <h5>2023.8.9</h5>
            </div>
          </div>
          <div class="col">
            <img src="img/project-05.jpg" alt="gallery" class="gallery-item">
            <div class="gallery-modal-text text-center">
              <h5>Title:Job Vacancy</h5>
              <h5>2023.8.9</h5>
            </div>
          </div>
          <div class="col">
            <img src="img/project-08.jpg" alt="gallery" class="gallery-item">
            <div class="gallery-modal-text text-center">
              <h5>Title:Job Vacancy</h5>
              <h5>2023.8.9</h5>
            </div>
          </div>
          <div class="col">
            <img src="img/project-08.jpg" alt="gallery" class="gallery-item">
            <div class="gallery-modal-text text-center">
              <h5>Title:Job Vacancy</h5>
              <h5>2023.8.9</h5>
            </div>
          </div>
          <div class="col">
            <img src="img/project-08.jpg" alt="gallery" class="gallery-item">
            <div class="gallery-modal-text text-center">
              <h5>Title:Job Vacancy</h5>
              <h5>2023.8.9</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Button trigger modal -->
    <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>-->
    <!-- Modal -->
    <div class="modal fade"
         id="gallery-modal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <!--<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>-->
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="img/newspaper.jpg" alt="modal img" class="modal-img">
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("click", function(e){
    if(e.target.classList.contains("gallery-item")){

        const src = e.target.getAttribute("src");
        document.querySelector(".modal-img").src = src;
        const myModal = new bootstrap.Modal(document.getElementById('gallery-modal'));
        myModal.show();
    }

})
    </script>

